body{
    font-family: 'Lato','Roboto Mono',monospace, sans-serif;
}
a{
    text-decoration: none;
    color: $link-color;
}
img{
    object-fit: cover;
}
.arrow-down{
    color: #198754;
}
.page-icon{
    color: $link-color;
}